*{
	box-sizing: border-box;
}

html, 
body{
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #4b4b4b;
}

body {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif; 
}

h1{
	font-size: 3.4em;
	font-weight: 700;
}
h2{
	font-size: 3em;
	font-weight: 400;
}
h3{
	font-size: 2em;
	font-weight: 300;
}
h4{
	font-size: 1.6em;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

p{
	font-size: 1.6em;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

ul li{
	font-size: 1.6em;
	font-weight: 400;
}

header, footer, section, article, nav{
	display: block;
}

header{
	width: 100%;
	height: 8em;
	display: flex;
	line-height: 8em;
	position: fixed;
	top: 0;
	z-index: 1;
	background: #fff;
	border-bottom: solid 2px #b4b4fc;
	position: relative;

}

#mySidenav {
    height: 100%;
    width: 25em;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -999px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

#mySidenav ul li {
   list-style: none;
}
#mySidenav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #818181;
    display: block;
    transition: 0.3s;
    line-height: 1.5;
    padding: 1em 0em;
}

.open{
	position: absolute;
	top: 0;
	right: 5%;
}
.headerNav ul{
	position: relative;
}
.headerNav .closebtn{
	color: #333;
	text-decoration: none;
	font-size: 3em;
	background: #ddd;
	padding: 0.2em 0.7em;
	position: absolute;
	top: 0;
	right: 0;
}


.logo a{
	text-decoration: none;
	font-size: 3em;
	font-weight: 700;
	color: #000099;

}
.logoIn a{
	text-decoration: none;
	font-size: 3em;
	font-weight: 700;
	color: #fff;;
	margin-left: 0.5em;
}

.demoRequest{
	display: none;
}

.demoInside{
	font-size: 1.4em;
	font-weight: 400;
	text-decoration: none;
	background: rgb(40, 180, 115);
	padding: 0.5em 1em;
	color: #fff;
	margin: 1.2em;
}

#main{
   width: 100%;
   position: relative;
}

.mainHeroImg{
   width: 100%;
   background-image: url("../img/billboard_empty_office.jpg");
   min-height: 40em;             /*------Keep in mind--------*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
} 

/*.overlayForHero{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}*/

.heroContainer{
	width: 100%;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mainHeading{
	width: 100%;
	text-align: center;
}

.video{
	display: none;           /*------Keep in mind--------*/
}

.mainHeading h2{
	color: #fff;
	font-weight: 300;
	padding: 2em 2em 1em 2em;
	margin-top: 1em;
	line-height: 1.4;
}

.mainHeading a button{
	background-color: rgba(40, 180, 115, 0.7);
	border: none;
	padding: 1em;
	color: #fff;
	font-size: 1.6em;
	cursor: pointer;
}

.mainHeading h3{
	color: #fff;
	padding-top: 1em;
}

.mainHeading h3 a{
	color: #fff;
	font-weight: 400;
	text-decoration: none;
}

.nodalForU{
	width: 100%;
	background: #fff;
}

.nodalForU .wrapper{
	max-width: 120em;
	margin: 6em auto;
	padding: 1em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.whyNodal, .aMovingExp, .forU{
	text-align: center;
	background: #ddd;
	max-width: calc((100% - 10px) / 2);
	margin-right: 10px;
	margin-bottom: 1em;
}
.aMovingExp{
	margin-right: 0;
}

@media screen and (max-width:650px){
	.whyNodal, .aMovingExp, .forU{
		max-width: 90%;
		margin: 1em auto;
		text-align: center;
		background: #ddd;
	}

}

.whyNodal h2, .aMovingExp h2, .forU h2{
	line-height: 1.5;
	padding: 0.5em 0em;
}

.whyNodal p, .aMovingExp p, .forU p{
	padding: 0em 3em 1em 3em;
}

.knowMore{
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3em;
	border-radius: 100%;
	border:solid 1px #ccc;
	margin: 1em auto;
	color: #4a7bb4;
	background: #f4f4eb;
}

.whyNodal a, .aMovingExp a, .forU a{
	text-decoration: none;
	font-size: 1.6em;
}

.webManagement{
	width: 100%;
	background: rgb(74, 123, 180);
	padding: 7em 0em 0em;
}

.webManagement .wrapper{
	max-width: 120em;
	margin: 0 auto;
	color: #fff;
}
.webManagement .wrapper h2{
	text-align: center;
	padding-bottom: 1em;
}

.ourSoftware {
   width: 100%;
   text-align: center;
   margin-bottom: 8em;
}

.ourSoftware a{
   color: #fff;
   text-decoration: none;
   margin-top: 0.5em;
   font-size: 1.2em;
}


.linkContainer{
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.linkContainer .knowMore{
	margin-left: 1em;
}

.reasonsToSelect{
	width: 100%;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.card{
	max-width: 35em;
	margin: 1em;
}

@media screen and (max-width: 760px){
	.card{
		margin: 1em auto;
	}
}
.card:hover{
	border: solid 1px #fff;
}
.card h3{
	padding: 0.5em 0em;
}

.card p{
    padding: 0.5em 0em;
}

.card a{
	text-decoration: none;
	color: #fff;
}
.card a div{
	width: 100%;
	height: 100%;
	padding: 2em;
}

.screenShot{
	width: 90%;
    margin: 5em auto 0em;
}

.screenShot img{
	width: 100%;
}

/*--------------*/
.awesomeApp{
	width: 100%;
	padding: 7em 1em;
	background: #fff;
}

.awesomeApp .wrapper{
   max-width: 120em;
   margin: 0 auto;
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
}
.appText{
	max-width: 35em;
}
.appImg{
	max-width: 35em;
}
.appImg img{
	width: 100%;
	height: 100%;
}

.awesomeApp h2{
	text-align: center;
	padding-bottom: 2em;
}


.appText{
	margin: auto 0;
	padding: 2em;
	text-align: justify;
	line-height: 1.5;
}

.appText span{
	color: red;
}

@media screen and (max-width: 650px){
    .appText {
    	min-width: 100%;
        padding: 0.5em;
    }

    .appImg{
      display: none;
    }
}

/*----------------*/

.aMovingExperience{
	width: 100%;
	background: rgb(48, 80, 123);
	color: #fff;
	padding: 
}

.aMovingExperience .wrapper{
	max-width: 120em;
	margin: 0 auto;
	padding: 7em 0em 7em;
}

.aMovingExperience h2{
    text-align: center;
    padding-bottom: 1em;
}

.reviewContainer{
	width: 100%;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.review{
	max-width: 30em;
	background: #fff;
	color: #4b4b4b;
	padding: 2em;
	border-top: solid 3px rgb(40, 180, 115);
	box-shadow: 5px 5px 5px #0e1824;
	margin: 1em;
}

@media screen and (max-width: 660px){
	.review{
		margin: 1em auto;
	}
}

.reviewerImg{
	width: 10em;
	height: 10em;
	border-radius: 100%;
	margin: 0 auto;
}

.reviewerImg img{
	width: 100%;
	height: 100%;
}
.review p{
	padding: 1em 0em;
	font-style: italic;
}

.OurPartners{
	width: 100%;
	background: #fff;
}

.OurPartners .wrapper{
	max-width: 120em;
	margin: 0 auto;
	padding: 7em 0em;
}
.OurPartners .wrapper h2{
	text-align: center;
	padding-bottom: 2em;
}

.imgContainerWrapper{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
}


.imgContainer{
   max-width: 15em;
   max-height: 8em;
}

.imgContainer img{
	width: 100%;
	height: 100%;
}

.OurPartners .wrapper hr{
	border: solid 2px #ddd;
	width: 80%;
	margin: 3em auto 0em;
}

.smartWay{
	width: 100%;
	background: #fff;
}

.smartWay .wrapper{
	max-width: 120em;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 7em;
}

.smartWay h2{
	padding-bottom: 0.5em;
}

.smartWay h3{
	padding-bottom: 2em;
}

.smartWay a{
   text-decoration: none;
   color: #fff;
   font-size: 1.6em;
   padding: 1em 2em;
   background: rgb(40, 180, 115);
}

.smartWay hr{
	border: solid 2px #ddd;
	width: 100%;
}

footer{
	width: 100%;
	padding: 1em;
}

.footerWrapper{
    max-width: 120em;
    margin: 0 auto;
    background: #fff;
    padding: 7em 0em 5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.address, .community, .Support{
    margin-bottom: 2em;
}
.address h3, .community h3, .Support h3{
    padding-bottom: 1em;
    font-weight: 400;
}

.address a{
	text-decoration: none;
	font-size: 1.6em;
	color: #000099;
}
.address p{
	padding: 0.3em 0em;

}
.community ul, .Support ul{
	padding-left: 0;
}

.community ul li, .Support ul li{
	list-style: none;
	padding: 0.3em;
}
.community a, .Support a{
    text-decoration: none;
    padding: 1em;
    color: #000099;
}
.footerFoot{
	max-width: 120em;
	margin: 0 auto;
	padding-bottom: 7em;
}
.footerFoot small{
   font-size: 1.4em;
   font-weight: 300;
   font-style: italic;
   padding-left: 1.5em;
}

/*---------------Features&pricing-------------------------------*/


#mainFeatures{
   width: 100%;
   position: relative;
   margin-top: 0em;
}

.featuresImg{
   width: 100%;
   background-image: url("../img/billboard_empty_office.jpg");
   min-height: 40em;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

/*.featuresImgOverlay{
   width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}*/

.featuresHeading{
	width: 100%;
	text-align: center;
	color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
}

.featuresHeading h2{
    font-weight: 700;
}

.featureContainer{
	width: 100%;
	padding: 7em 0em;
	background: #fff;
}

.featureContainer h2{
	text-align: center;
	margin-bottom: 2em;
}

.featureContainer .wrapper{
	max-width: 120em;
	margin: 0 auto;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	padding: 1em;
}

.featureCard{
	max-width: calc((100% - 20px) / 2);
	background: #fff;
	margin-right: 10px;
	margin-bottom: 1em;
	border:solid 1px #ddd;
	padding: 1em;
}
.featureCard: nth-child(1){
	margin-right: 0; 
}
.featureCard h3{
	padding-bottom: 1em;
	font-weight: 400;
}
.progress{
	width: 100%;
	background: linear-gradient(0deg, #21abc7, #616db3);
	padding: 7em 0;
}

.progress h2{
	text-align: center;
	padding-bottom: 2em;
	color: #fff;
}

.progress .wrapper{
	max-width: 120em;
	margin: 0 auto;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	padding: 1em;
}

.progressCard{
	min-width: 25em;
	max-width: 35em;
	min-height: 20em;
	background: #fff;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #333;
	-webkit-transition: box-shadow 0.4s;
	transition: box-shadow 0.4s;
	border-top: solid 2px rgb(40, 180, 115);
	margin:1.5em auto;
}
.progressCard:hover{
	box-shadow: none;
}

.bumber{
	width: 5em;
	height: 5em;
	line-height: 5em;
	text-align: center;
	border-radius: 100%;
	background: #ddd;
	border:solid 1px #ddd;
	margin: -2.5em auto 1em;
}
.bumber span{
    color: rgb(40, 180, 115);
    font-size: 1.5em;
}

.progressCard h3{
   padding: 0em 0.5em 1em;
}
.progressCard p{
	padding: 0em 0.5em 1em;
}

.pricing {
	width: 100%;
	background: #fff;
	border-bottom: solid 2px #ddd;
}
.pricing .wrapper{
	max-width: 120em;
	margin: 0 auto;
	padding: 7.5em 1em;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.pricingCard{
	max-width: calc((100% - 20px) / 2);
	margin-right: 10px;
	margin-bottom: 2em;
	border: solid 1px #ddd;
	box-shadow: 0 40px 40px -40px #333;
}

.pricingCard: nth-child(2){
	margin-right: 0px;
}

.cardHead{
	width: 100%;
	background: linear-gradient(0deg, #21abc7, #616db3);
	text-align: center;
	padding: 1em;
	color: #fff;
}

.cardHead h2{
	font-weight: 300;
	padding: 0.5em 0em;
}

.cardHead h3{
	font-weight: 300;
	padding: 0.5em 0em;
}
.cardHead h3 span{
	font-weight: 300;
	font-size: 2em;
	padding-left: 0.2em;
}

.cardBody{
	background: #f4f4eb;
	padding: 1em;
}

.cardBody li{
	list-style: none;
}
.cardBody li span{
	padding-right: 0.5em;
}

.condition ul li{
    list-style-type: circle;
}

.cardBody a{
	display: block;
	margin: 0 auto;
	background: rgb(40, 180, 115);
	color: #fff;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.6em;
	text-decoration: none;
	position: relative;
}
.cardBody a .show{
      opacity: 0;
      position: absolute;
      top: 20%;
      left: 0%;
}

.cardBody a:hover .show{
	left: 65%;
	opacity: 1;
	color: #fff;
}

.cardBody a:hover .hide{
	opacity: 0;
}


/*---------------Features&pricing-------------------------------*/


#mainFeatures{
   width: 100%;
   position: relative;
   margin-top: 0em;
}

.featuresImg{
   width: 100%;
   background-image: url("../img/billboard_empty_office.jpg");
   min-height: 40em;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

/*.featuresImgOverlay{
   width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}*/

.featuresHeading{
	width: 100%;
	text-align: center;
	color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
}

.featuresHeading h2{
    font-weight: 700;
}

.featureContainer{
	width: 100%;
	padding: 7em 0em;
	background: #fff;
}

.featureContainer h2{
	text-align: center;
	margin-bottom: 2em;
}

.featureContainer .wrapper{
	max-width: 120em;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.featureCard{
   max-width: 30em;
   min-height: 20em;
   margin-right: 10px;
   padding: 1em;
}

@media screen and (max-width: 660px){
	.featureCard{
		margin: 1em auto;
	}
}

.featureCard h3{
	padding-bottom: 1em;
	font-weight: 400;
}

.progress{
	width: 100%;
	background: linear-gradient(0deg, #21abc7, #616db3);
	padding: 7em 0;
}

.progress h2{
	text-align: center;
	padding-bottom: 2em;
	color: #fff;
}

.progress .wrapper{
	max-width: 120em;
	margin: 0 auto;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.progressCard{
	max-width: 25em;
	background: #fff;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #333;
	-webkit-transition: box-shadow 0.4s;
	transition: box-shadow 0.4s;
	border-top: solid 2px rgb(40, 180, 115);
}
.progressCard:hover{
	box-shadow: none;
}

.bumber{
	width: 5em;
	height: 5em;
	line-height: 5em;
	text-align: center;
	border-radius: 100%;
	background: #ddd;
	border:solid 1px #ddd;
	margin: -2.5em auto 1em;
}
.bumber span{
    color: rgb(40, 180, 115);
    font-size: 1.5em;
}

.progressCard h3{
   padding: 0em 0.5em 1em;
}
.progressCard p{
	padding: 0em 0.5em 1em;
}

.pricing {
	width: 100%;
	background: #fff;
	border-bottom: solid 2px #ddd;
	padding: 1em;
}
.pricing .wrapper{
	max-width: 120em;
	margin: 0 auto;
	padding: 7.5em 0;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.pricingCard{
	max-width: 35em;
	margin-bottom: 1em;
	border: solid 1px #ddd;
	box-shadow: 0 40px 40px -40px #333;
}

@media screen and (max-width: 760px){
	.pricingCard{
         margin: 1em auto;
	}
}

.cardHead{
	width: 100%;
	background: linear-gradient(0deg, #21abc7, #616db3);
	text-align: center;
	padding: 1em;
	color: #fff;
}

.cardHead h2{
	font-weight: 300;
	padding: 0.5em 0em;
}

.cardHead h3{
	font-weight: 300;
	padding: 0.5em 0em;
}
.cardHead h3 span{
	font-weight: 300;
	font-size: 2em;
	padding-left: 0.2em;
}

.cardBody{
	background: #f4f4eb;
	padding: 1em;
}

.cardBody li{
	list-style: none;
}
.cardBody li span{
	padding-right: 0.5em;
}

.condition ul li{
    list-style-type: circle;
}

.cardBody a{
	display: block;
	margin: 0 auto;
	background: rgb(40, 180, 115);
	color: #fff;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.6em;
	text-decoration: none;
	position: relative;
}
.cardBody a .show{
      opacity: 0;
      position: absolute;
      top: 20%;
      left: 0%;
}

.cardBody a:hover .show{
	left: 65%;
	opacity: 1;
	color: #fff;
}

.cardBody a:hover .hide{
	opacity: 0;
}

/*-------------------Contact And Demo ----------*/

.contactContainer{
	width: 100%;
	background: #fff;
	margin: 0;
}

.contactImg{
   width: 100%;
   background-image: url("../img/billboard_empty_office.jpg");
   min-height: 40em;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   color: #fff;
}

/*.contactOverlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}*/

.contactHeading{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 0;
}

.contactHeading h2{
	padding-bottom: 1em;
}

.contactHeading a{
	font-size: 2em;
	text-decoration: none;
	color: #fff;
	background: rgb(40, 180, 115);
	padding: 0.5em 1em;
	text-transform: uppercase;
}

.getInTouch {
	width: 100%;
	text-align: center;
	padding: 7em 1em;
	border-bottom: solid 2px #ddd;
}

.getInTouch .wrapper {
	max-width: 120em;
	margin: 0 auto;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.getInTouch h2{
    padding-bottom: 2em;
}

.getInTouch h3 {
	padding-bottom: 1em;
}
.indiaOffice, .australiaOffice, .emailOne{
	margin-bottom: 2em;
}
@media screen and (max-width: 650px){
	.indiaOffice, .australiaOffice, .emailOne{
		max-width: 25em;
		margin: 1em auto;
		border-bottom: solid 1px #ddd;
		padding-bottom: 1em;
	}

}
.awesomeApp{
	width: 100%;
	padding: 7em 1em;
	background: #fff;
}

.awesomeApp .wrapper{
   max-width: 120em;
   margin: 0 auto;
   display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.awesomeApp h2{
	text-align: center;
	padding-bottom: 2em;
}

.appText, .appImg{
	width: 50%;
}

.appText{
	margin: auto 0;
	padding: 2em;
	text-align: justify;
	line-height: 1.5;
}

.appText p:last-child{
	margin-top: 1em;
}
.appText span{
	color: red;
}


/*-------------contactForm----------*/

.contactFormContainer{
   width: 100%;
   background-image: url("../img/billboard_empty_office.jpg");
   min-height: 48em;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.contactFormContainer .wrapper {
	max-width: 120em;
	margin: 0 auto;
	padding-bottom: 1em;
}

.contactForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   justify-content: space-between;
}

.name, .email, .situation{
	min-width: 25em;
	margin: 2em;
	padding: 1em;
}

.contactForm label {
	font-size: 2em;
	font-weight: 100;
	color: #ddd;
	display: block;
	margin-bottom: 1em;
}

.check{
	font-size: 1.6em;
	color: #ddd;
}

input[type="text"], input[type="email"] {
	width: 100%;
	border: none;
	border-bottom: solid 1px #ddd;
	background: none;
    padding: 1em;
    font-size: 1.6em;
    color: #818181;
}

.contactFormContainer button{
	font-size: 1.6em;
	text-transform: uppercase;
    color: #fff;
	background: rgb(40, 180, 115);
	padding:1em;
	border: none;
	display: block;
	margin: 2em auto;
	cursor: pointer;
}

.thankU h2{
    color: #fff;
    text-align: center;
    padding: 1em;
}

.thankU p{
	text-align: center;
	color: #fff;
}

.thank{
	text-decoration: none;
}


