<div>
  <form>
    <label for="name">Your Name</label><br>
    <input type="text" id="name" name="name" placeholder="Your name.."><br>

    <label for="email">Email Id where we can reach you</label><br>
    <input type="email" id="email" name="email" placeholder="Your email Id.."><br>

    <label for="situation">What best describe your current situation?</label><br>
     <input type="checkbox" value="cms">I have Website and Channel Manager<br>
     <input type="checkbox" value="website">Looking to build a New Website<br>
     <input type="checkbox" value="TrustYou">Interested in Free TrustYou Account<br>
     <input type="checkbox" value="TrustYou">Something Else<br>
  </form>
</div>